#######################################
# HELP
#######################################
HELP.md

#######################################
# MAVEN
#######################################
target/
!**/src/main/**/target/
!**/src/test/**/target/

#######################################
# MAVEN WRAPPER
#######################################
.mvn/wrapper/maven-wrapper.jar

#######################################
# SPRING BOOT / ENV
#######################################
.env

# File config thật (KHÔNG push)
src/main/resources/application.properties

#######################################
# LOG FILES
#######################################
*.log

#######################################
# IntelliJ IDEA
#######################################
.idea/
*.iws
*.iml
*.ipr
out/

#######################################
# STS / Eclipse
#######################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

#######################################
# NetBeans
#######################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

#######################################
# VS Code
#######################################
.vscode/

#######################################
# OS FILES
#######################################
.DS_Store
Thumbs.db