<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Lịch sử sử dụng phòng')}"></head>
<body>
<div class="container">
    <div th:replace="~{fragments/layout :: navbar('Lịch sử sử dụng phòng')}"></div>

    <div class="card-box">

    <table class="table table-bordered table-hover bg-white">

        <thead class="table-dark">

        <tr>

            <th>ID</th>

            <th>Khách hàng</th>

            <th>Phòng</th>

            <th>Check-in</th>

            <th>Check-out</th>

            <th>Tổng giờ</th>

        </tr>

        </thead>

        <tbody>

        <tr th:each="c : ${list}">

            <!-- ID -->

            <td th:text="${c.id}"></td>

            <!-- KHÁCH -->

            <td th:text="${c.customer.fullName}"></td>

            <!-- PHÒNG -->

            <td th:text="${c.room.roomName}"></td>

            <!-- CHECKIN -->

            <td th:text="${#temporals.format(c.checkInTime, 'yyyy-MM-dd HH:mm:ss')}"></td>

            <!-- CHECKOUT -->

            <td>

                <span th:if="${c.checkOutTime != null}"
                      th:text="${#temporals.format(c.checkOutTime, 'yyyy-MM-dd HH:mm:ss')}">
                </span>

                <span th:if="${c.checkOutTime == null}">
                    Đang sử dụng
                </span>

            </td>

            <!-- TỔNG GIỜ -->

            <td>

                <span th:if="${c.totalHours != null}"
                      th:text="${#numbers.formatDecimal(c.totalHours,1,2)}">
                </span>

                <span th:if="${c.totalHours == null}">
                    ---
                </span>

            </td>

        </tr>

        </tbody>

    </table>
    </div>
</div>

</body>
</html>